# Basic settings for running in production. Change accordingly before deploying the server.

# Database

# The database vendor.
db=postgres
db-url-host={{ keycloak_database_host }}
db-username={{ keycloak_database_user }}
db-password={{ keycloak_database_password }}
db-url-database={{ keycloak_database_db }}

# Observability
# If the server should expose metrics and healthcheck endpoints.
metrics-enabled=true


# Do not attach route to cookies and rely on the session affinity capabilities from reverse proxy
#spi-sticky-session-encoder-infinispan-should-attach-route=false

# Hostname for the Keycloak server.
#hostname={{ ansible_hostname }} 

http-port=8080
http-enabled=true
http-relative-path=/auth
http-host=0.0.0.0
hostname-strict=false

https-port=443
hostname-strict-https=false
#https-key-store-password={{ keycloak_keystore_secret }}
#https-certificate-key-file=keycloak.config.home/keycloak.config.version/conf/xx.key
#https-certificate-file=keycloak.config.home/keycloak.config.version/conf/xx.cert