[Unit]
Description=Vector Version {{ vector_version }}
Documentation=https://vector.dev
After=network-online.target
Requires=network-online.target

[Service]
User=vector
Group=vector
ExecStartPre=/usr/local/bin/vector validate --config-yaml /etc/vector/*.yaml
ExecStart=/usr/local/bin/vector --config /etc/vector/*.yaml
ExecReload=/usr/local/bin/vector validate --config-yaml /etc/vector/*.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
AmbientCapabilities=CAP_NET_BIND_SERVICE
EnvironmentFile=-/etc/default/vector
# Since systemd 229, should be in [Unit] but in order to support systemd <229,
# it is also supported to have it here.
StartLimitInterval=10
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
